* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background-color: #ffc0d9;
  overflow: hidden;
}
.container {
  border: 1px solid crimson;
  border-radius: 20px;
  min-height: 180px;
  width: 300px;
  margin: auto;
  background-color: #ff90bc;
  margin-top: 300px;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.myTxt {
  margin-bottom: 2rem;
  color: #8acdd7;
  text-align: center;
}
.inPut {
  border: none;
  background-color: #f9f9e0;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 1rem;
  border-style: none;
  outline: none;
}

.myBtn {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: crimson;
  color: white;
  cursor: pointer;
}

#image1 {
  top: 110px;
  position: absolute;
  left: 30px;
  border-radius: 100%;
}

#image2 {
  left: 20px;
  position: absolute;
  border-radius: 100%;
}
#image3 {
  right: 20px;
  position: absolute;
  border-radius: 100%;
}

#image4 {
  bottom: 90px;
  position: absolute;
  right: 60px;
  width: 300px;
  height: 200px;

  border-radius: 100%;
}
#image5 {
  top: 120px;
  right: 40px;
  position: absolute;
  border-radius: 100%;
}
img {
  width: 150px;
  height: 150px;
}

.meme {
  visibility: hidden;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
.picture {
  animation: shake 0.5s ease-in-out infinite;
}
